body{
	font-family: sans-serif;
}
#global{
	width: 90%;
height: 90%;
border:5px solid grey;
margin: auto;
padding: 10px;
background-color: #00fdc8;
}
#dpersonales{
	padding-left: 30px;
}
hr{
	border:3px solid;
	border-radius: 5px;
	width: 90%;
}
h2{
color: #5d5d5d;
padding-left: 12px;
}
u{
	border:4px solid black;
}
img{
	position:absolute;
	top:30px;
	left: 70%;
	width: 250px;
	height: 250px;
}
div {
	padding-top: 30px;
	padding-bottom: 30px;
}